:root {
  ---black: rgba(0, 0, 0, 1);
  ---eerie-black: Orgba(30, 33, 33, 1);
  --alto: rgba(217, 217, 217, 1);
  --white: rgba(255, 255, 255, 1);
  --font-size-m: 20px;
  --font-size-1: 32px;
  --font-size-xl: 48px;
  --font-size-xxl: 64px;
  --font-family-fira_sans: "Fira Sans";
}
/* Classes */
.firasans-bold-black-48px {
  color: var(--black);
  font-family: var(--font-family-fira_sans);
  font-size: var(--font-size-x1);
  font-weight: 700;
  font-style: normal;
}
.firasans-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-fira_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.firasans-bold-white-48px {
  color: var(--white);
  font-family: var(-font-family-fira_sans);
  font-size: var(--font-size-x1);
  font-weight: 700;
  font-style: normal;
}

.firasans-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-fira_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.firasans-bold-white-64px {
  color: var(--white);
  font-family: var(--font-family-fira_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  font-style: normal;
}
.firasans-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-fira_sans);
  font-size: var(--font-size-1);
  font-weight: 400;
  font-style: normal;
}
